@use "../abstracts" as *;
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  background-color: $color-midnight-green;
  margin: 0 auto;
  font-family: t.$font;
}

.m-s {
  margin-bottom: 24px;
}

// MQ Breakpoints
$bp-desktop: 68.125rem; //1090
$bp-tablet: 48rem; // 768


svg {
  cursor: pointer;
}

svg:hover path {
  fill: $color-light-coral;
  
  @media only screen and (min-width: $bp-tablet) {
    @include transition;
  }
}