@use "../abstracts" as *;
@use "../base/global" as *;

.clients {
  background-color: $color-very-dark-green;
  background-image: url(../assets/bg-pattern-about-4.svg);
  background-repeat: no-repeat;
  background-position: -100px -90px;

  @media only screen and (min-width: $bp-desktop) {
    background-position: 0% 0%;
         }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media only screen and (min-width: $bp-desktop) {
      padding: 2.5rem;
    }
    
  }

  &__heading {
    color: $color-white;
    font-size: 2rem;
    text-align: center;
    margin-top: 6rem;

    @media only screen and (min-width: $bp-tablet) {
      font-size: 2.5rem;
       }
    
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.56rem;
    align-content: center;
    padding: 0 3rem 5rem 3rem;

    @media only screen and (min-width: $bp-tablet) {
      flex-direction: row;
      margin: 0 auto;
    }
  }

  &__logo {
    
    align-self: center;
  }

  
}



img.clients__logo:nth-child(1) {
    width: 9.2rem;
    @media only screen and (min-width: $bp-tablet) {
    width: 6.2rem;
    }

    @media only screen and (min-width: $bp-desktop) {
    width: 10.3rem;
    }
  }

  img.clients__logo:nth-child(2) {
    width: 13.1rem;
    @media only screen and (min-width: $bp-tablet) {
      width: 7.2rem;
      }

      @media only screen and (min-width: $bp-desktop) {
        width: 10.3rem;
        }
  }

  img.clients__logo:nth-child(3) {
    width: 12rem;
    @media only screen and (min-width: $bp-tablet) {
      width: 6.2rem;
      }

      @media only screen and (min-width: $bp-desktop) {
        width: 10.3rem;
        }
  }

  img.clients__logo:nth-child(4) {
    width: 9.2rem;
    @media only screen and (min-width: $bp-tablet) {
      width: 6.2rem;
      }

      @media only screen and (min-width: $bp-desktop) {
        width: 10.3rem;
        }
  }

  img.clients__logo:nth-child(5) {
    width: 6.2rem;
    @media only screen and (min-width: $bp-tablet) {
      width: 5.2rem;
      }

      @media only screen and (min-width: $bp-desktop) {
        width: 5.3rem;
        }
  }
  
