@use "../abstracts" as *;
@use "../base/global" as *;

.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $color-light-coral;
  background-image: url(../assets/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 5rem 5rem 7rem 6rem;
  text-align: center;

  @media only screen and (min-width: $bp-tablet) {
    background-position: 0 90px;
    padding: 5rem;
    flex-direction: row;
    gap: 5.2rem;
    justify-content: center;
  }

  @media only screen and (min-width: $bp-desktop) {
    gap: 16.25rem;
    padding: 4rem;
    background-position: 0 63px;
  }

 

  &__right-content {
    margin-top: 0.7rem;

    @media only screen and (min-width: $bp-tablet) {
      margin-top: 1.1rem;
    }
  }

  &__heading {
    font-size: 2rem;
    text-align: center;
    color: $color-very-dark-green;
    line-height: 32px;
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $bp-tablet) {
      line-height: normal;
    }

    @media only screen and (min-width: $bp-desktop) {
      font-size: 3rem;
    }
  }

  &__btn-contact {
    border: 2px solid $color-very-dark-green;
    padding: 0.8rem 2rem;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.125rem;
    color: $color-very-dark-green;
    width: 153px;
    cursor: pointer;

    @media only screen and (min-width: $bp-desktop) {
      @include transition;
    }
    

    &:hover {
      @media only screen and (min-width: $bp-desktop) {
        color: $color-white;
        background-color: $color-very-dark-green;
      }
    }
  }
}
