@use "../abstracts" as *;
@use "../base/global" as *;

.hamburger-menu {
  background-color: transparent;
  background-image: url(../assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 17px;
  background-position: center center;
  z-index: 100;

  @media only screen and (min-width: $bp-tablet) {
    display: none;
  }
}

.hamburger-menu.active {
  background-image: url(../assets/icon-close.svg);
}

.logo {
  width: 128px;
  height: 32px;
  align-self: center;

  @media only screen and (min-width: $bp-desktop) {
    width: 10rem;
    height: 2.5rem;
  }
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem 2rem 2rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 4.63rem 2rem 2rem 2rem;
  }

  @media only screen and (min-width: $bp-desktop) {
    max-width: 68rem;
    margin: 0 auto;
  }
}

.nav-primary.show {
  display: flex;
}

.nav-primary {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  width: 290px;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #2c6269;
  padding: 3rem;
  padding-top: 10rem;
  height: 100%;
  background-image: url(../assets/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: 220% 90%;

  @media only screen and (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    width: auto;
    width: 100%;
    background-color: initial;
    padding: 0;
    height: auto;
    background-image: none;
  }

  &__list {
    text-decoration: none;
    list-style: none;

    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      width: 70%;
      align-self: center;
      gap: 2rem;
      margin-left: 3rem;
    }
  }

  &__list-item {
    margin-bottom: 1rem;
    font-size: 18px;

    @media only screen and (min-width: $bp-tablet) {
      margin: 0;
      font-size: 1.125rem;
    }
  }

  &__list-link {
    color: white;
    text-decoration: none;

    @media only screen and (min-width: $bp-desktop) {
      @include transition;
    }

    &:hover {
      @media only screen and (min-width: $bp-desktop) {
        color: $color-light-coral;
      }
    }
  }

  &__btn-contact {
    border-radius: 30px;
    border: 2px solid white;
    padding: 0.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

    @media only screen and (min-width: $bp-tablet) {
      width: 9.5rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      @include transition;
    }

    &:hover {
      @media only screen and (min-width: $bp-desktop) {
        color: #000;
        background-color: $color-white;
      }
    }
  }
}

.hamburger-menu {
  width: 29px;
  height: 27px;
  align-self: center;
  cursor: pointer;
}
